<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="MySQL_DB" connectionString="Server=localhost;Database=intelligenthabitacion;Uid=root;Pwd=@Ioasys;SslMode=none;" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    <add name="SQLServer2012_DB" connectionString="" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>

  <appSettings>
    <!-- MySQL | SQLServer2008 | SQLServer2012 -->
    <add key="TipoBancoDeDadosUtilizado" value="MySQL" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>