<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MySQL_DB" connectionString=""/>
    <add name="SQLServer2012_DB" connectionString=""/>
  </connectionStrings>
  <appSettings>
    <!-- MySQL | SQLServer2008 | SQLServer2012 -->
    <add key="TipoBancoDeDadosUtilizado" value="" />
  </appSettings>
</configuration>