<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>CFBundleDisplayName</key>
	<string>Intelligent Habitacion</string>
	<key>CFBundleIdentifier</key>
	<string>br.com.paiva.welisson.testes</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>IntelligentHabitacion</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Raleway-Bold.ttf</string>
		<string>Fonts/Raleway-Medium.ttf</string>
		<string>Fonts/Raleway-Regular.ttf</string>
		<string>Fonts/Raleway-SemiBold.ttf</string>
		<string>Fonts/Raleway-Thin.ttf</string>
		<string>Fonts/Raleway-Light.ttf</string>
		<string>Fonts/Raleway-ExtraBold.ttf</string>
		<string>Fonts/Raleway-Italic.ttf</string>
	</array>
	<key>NSFaceIDUsageDescription</key>
	<string>Need your face to do login on the app</string>
</dict>
</plist>
